<template>
    <div class="container">
        <div class="row justify-content-center">
                          
              <img  src="/img/logo.png" alt="superligavzla">
            
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
           
        }
    }
</script>
<style>
img{
  width: 50%;
  height: auto;
                  /* Center and scale the image nicely */
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
                overflow: hidden;
}
            .imagenconten{
                /* The image used */
                background-image: url(http://superligavzla.com/img/superliga_fondo.jpg) ;
                /* Full height */
                
                width: 100%;
                height: auto;
                /* Center and scale the image nicely */
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
                overflow: hidden;
            }
</style>