<template>
    <div class="container">
        <div class="row mt-5" v-if="$gate.isAdminOrAuthor()">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Usuarios</h3>

                <div class="card-tools">
                    <button class="btn btn-success" @click="newModal">Agregar Nuevo <i class="fas fa-user-plus fa-fw"></i></button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Tipo</th>
                        <th>Estatus</th>
                        <th>Registrado el</th>
                        <th>Acciones</th>
                  </tr>


                  <tr v-for="user in users.data" :key="user.id">

                    <td>{{user.id}}</td>
                    <td>{{user.nombre}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.type | tipoUser}}</td>
                    <td><span :class="{'badge badge-danger':parseInt(user.estatus) === -1, 'badge badge-success':parseInt(user.estatus) === 1, 'badge badge-warning':parseInt(user.estatus) === 0 }">{{user.estatus | statusUser}}</span></td>
                    <td>{{user.created_at | myDate}}</td>
                    <td>                       
                        <a class="btn btn-light" href="#" @click="editModal(user)">
                            <i class="fa fa-edit"></i>
                        </a>
                        
                        <a class="btn btn-danger" href="#" @click="deleteUser(user.id)">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                  </tr>
                  <tr v-if="users.data.length==0">
                      <td colspan="7" class="text-center">
                        <strong>NO HAY INFORMACION PARA  MOSTRAR</strong>
                      </td>
                  </tr>
                </tbody></table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                  <pagination :data="users" @pagination-change-page="getResults"></pagination>
              </div>
            </div>
            <!-- /.card -->
          </div>
        </div>

        <div v-if="!$gate.isAdminOrAuthor()">
            <not-found></not-found>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" v-show="!editmode" id="addNewLabel">Agregar Nuevo Usuario</h5>
                <h5 class="modal-title" v-show="editmode" id="addNewLabel">Actualizar Usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form @submit.prevent="editmode ? updateUser() : createUser()">
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="email">Email</label>
                        <input v-model="form.email" type="email" name="email"
                            placeholder="Email "
                            class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                        <has-error :form="form" field="email"></has-error>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-12">
                        <label for="password">Contrasena</label>
                        <input v-model="form.password" type="password" name="password" id="password"
                        placeholder="Contrasena"
                        pattern="[A-Za-z0-9!?-]{6,8}"
                        class="form-control" :class="{ 'is-invalid': form.errors.has('password') }">
                        <has-error :form="form" field="password"></has-error>
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="password_verify">Validar Contrasena</label>
                        <input v-model="form.password_verify" type="password" name="password_verify" id="password_verify"
                        placeholder="Repetir Contrasena"
                        pattern="[A-Za-z0-9!?-]{6,8}"
                        class="form-control" :class="{ 'is-invalid': form.errors.has('password_verify') }">
                        <has-error :form="form" field="password_verify"></has-error>
                    </div>                    
                                       
                </div>                    
                <div class="row">                                           
                    <div class="form-group col-sm-12">
                        <label for="cedula">Cedula</label>
                        <input v-model="form.cedula" type="text" name="cedula"
                            placeholder="Cedula"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('cedula') }">
                        <has-error :form="form" field="cedula"></has-error>
                    </div>                    
                    <div class="form-group col-sm-12">
                        <label for="nombre">Nombres y Apellidos</label>
                        <input v-model="form.nombre" type="text" name="nombre"
                            placeholder="Nombre y Apellido"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('nombre') }">
                        <has-error :form="form" field="nombre"></has-error>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-12">
                        <label for="fecha_nacimiento">Fecha de Nacimiento</label>
                        <input v-model="form.fecha_nacimiento" type="date" max="2006-01-01" min="1910-01-01" name="fecha_nacimiento"
                            placeholder="Fecha de Nacimiento"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('fecha_nacimiento') }">
                        <has-error :form="form" field="fecha_nacimiento"></has-error>
                    </div>                     
                    <div class="form-group col-sm-12">
                        <label for="celular">Celular</label>
                        <input v-model="form.celular" type="text" name="celular"
                            placeholder="Celular"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('celular') }">
                        <has-error :form="form" field="celular"></has-error>
                    </div>                     
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="pais">País</label>
                        <select name="pais" v-on:change="onChangePais" v-model="form.pais" id="pais" class="form-control form-control-sm" :class="{ 'is-invalid': form.errors.has('pais') }">
                            <option value="">Seleccione</option>
                            <option v-for="itemc in paises" :value="itemc.id"  v-bind:key="itemc.id">
                                {{itemc.name}}
                            </option>                                  
                        </select>
                        <has-error :form="form" field="pais"></has-error>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="estado">Estado</label>
                        <select name="estado" v-on:change="onChangeEstado" v-model="form.estado" id="estado" class="form-control form-control-sm" :class="{ 'is-invalid': form.errors.has('estado') }">
                            <option value="">Seleccione</option>
                            <option v-for="itemc in estados" :value="itemc.id"  v-bind:key="itemc.id">
                                {{itemc.name}}
                            </option>                                  
                        </select>                                   
                        <has-error :form="form" field="estado"></has-error>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="codigo_ciudad">Ciudad</label>
                        <select name="codigo_ciudad" id="codigo_ciudad" v-model="form.codigo_ciudad" class="form-control form-control-sm" :class="{ 'is-invalid': form.errors.has('codigo_ciudad') }">
                            <option value="">Seleccione ciudad</option>
                            <option v-for="itemc in ciudades" :value="itemc.id"  v-bind:key="itemc.id">
                                {{itemc.name}}
                            </option>
                        </select>                                    
                        <has-error :form="form" field="codigo_ciudad"></has-error>
                    </div>                    
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="type">Tipo de Usuario</label>
                        <select name="type" v-model="form.type" id="type" class="form-control" :class="{ 'is-invalid': form.errors.has('type') }">
                            <option value="">Seleccione el tipo de Usuario</option>
                            <option value="admin">Administrador</option>                
                            <option value="author">Supervisor</option>
                            <option value="user">Estandar</option>
                        </select>
                        <has-error :form="form" field="type"></has-error>
                    </div> 
                    <div class="form-group col-md-12">
                        <label for="estatus">Estatus</label>
                        <select name="estatus" v-model="form.estatus" id="estatus" class="form-control" :class="{ 'is-invalid': form.errors.has('estatus') }">
                            <option value="">Seleccione el estatus del Usuario</option>
                            <option value="1">Activo</option>                
                            <option value="0">Suspendido</option>                            
                        </select>
                        <has-error :form="form" field="estatus"></has-error>
                    </div>                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                <button v-show="editmode" type="submit" class="btn btn-success">Actualizar</button>
                <button v-show="!editmode" type="submit" class="btn btn-primary">Guardar</button>
            </div>

            </form>

            </div>
        </div>
        </div>
    </div>



</template>

<script>
    export default {
        data() {
            return {
                editmode: false,
                users : {},
                estados:[],
                ciudades:[],
                paises:[],
                form: new Form({
                    id:'',
                    nombre : '',
                    cedula:'',
                    email: '',
                    password: '',
                    password_verify:'',
                    celular:'',
                    type: '',
                    estatus: 1,
                    pais:0,
                    estado:0,
                    codigo_ciudad:0,
                    fecha_nacimiento:''
                })
            }
        },
        methods: {
            getResults(page = 1) {
                        axios.get('api/user?page=' + page)
                            .then(response => {
                                this.users = response.data;
                            });
            },
            onChangePais(){
                axios.get("api/estados/"+this.form.pais).then(({ data }) => (this.estados = data));
            },
            onChangeEstado(){
                axios.get("api/ciudades/"+this.form.estado).then(({ data }) => (this.ciudades = data));
            },
            updateUser(){
                this.$Progress.start();
                // console.log('Editing data');
                this.form.put('api/user/'+this.form.id)
                .then(() => {
                    // success
                    $('#addNew').modal('hide');
                     swal(
                        'Actualizado!',
                        'Los datos del usuario fueron actualizados.',
                        'success'
                        )
                        this.$Progress.finish();
                         Fire.$emit('AfterCreate');
                })
                .catch(() => {
                    this.$Progress.fail();
                });

            },
            editModal(user){
                this.editmode = true;
                this.form.reset();
                $('#addNew').modal('show');
                this.form.fill(user);
            },
            newModal(){
                this.editmode = false;
                this.form.reset();
                $('#addNew').modal('show');
            },
            deleteUser(id){
                swal({
                    title: 'Esta Seguro?',
                    text: "No podra revertir los cambios!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, Borrar Registro!'
                    }).then((result) => {

                        // Send request to the server
                         if (result.value) {
                                this.form.delete('api/user/'+id).then(()=>{
                                        swal(
                                        'Borrado!',
                                        'El Registro fue eliminado.',
                                        'success'
                                        )
                                    Fire.$emit('AfterCreate');
                                }).catch(()=> {
                                    swal("Failed!", "There was something wronge.", "warning");
                                });
                         }
                    })
            },
            loadUsers(){
                if(this.$gate.isAdmin()){
                    axios.get("api/user").then(({ data }) => (this.users = data));
                    axios.get("api/paises").then(({ data }) => (this.paises = data.countries));
                }
            },

            createUser(){
                this.$Progress.start();

                this.form.post('api/user')
                .then(()=>{
                    Fire.$emit('AfterCreate');
                    $('#addNew').modal('hide')

                    toast({
                        type: 'success',
                        title: 'Usuario Creado!!'
                        })
                    this.$Progress.finish();

                })
                .catch(()=>{

                })
            }
        },
        created() {
            Fire.$on('searching',() => {
                let query = this.$parent.search;
                axios.get('api/findUser?q=' + query)
                .then((data) => {
                    this.users = data.data
                })
                .catch(() => {

                })
            })
           this.loadUsers();
           Fire.$on('AfterCreate',() => {
               this.loadUsers();
           });
        //    setInterval(() => this.loadUsers(), 3000);
        }

    }
</script>
