<template>
    <div class="container">
        <div class="row mt-5 box" v-if="$gate.isAdminOrAuthor()">
          <div class="col-md-8">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Configuración Global</h3>

                <div class="card-tools">
                    <!-- Botonera -->
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-5">

                <form @submit.prevent="updateConfiguracion()">
                    <!--<div class="row">
                        <div class="col-md-4">
                            <p class="font-weight-bold">DIVISA</p>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="nombre_moneda">Nombre Moneda</label>
                            <input v-model="form.nombre_moneda" type="text" name="nombre_moneda"
                                title="Tiempo en minutos"
                                placeholder=""
                                class="form-control" :class="{ 'is-invalid': form.errors.has('nombre_moneda') }">
                            <has-error :form="form" field="nombre_moneda"></has-error>
                        </div>
                        <div class="col-md-4"></div>
                        <div class="form-group col-md-8">
                            <label for="factor_cambio">Factor de Cambio</label>
                            <input v-model="form.factor_cambio" name="factor_cambio" type="number" min="5" max="30" step="5"
                                title="Factor de cambio"
                                placeholder=""
                                class="form-control" :class="{ 'is-invalid': form.errors.has('factor_cambio') }">
                            <has-error :form="form" field="factor_cambio"></has-error>
                        </div>
                        <div class="col-md-4"></div>
                        <div class="form-group col-md-4">
                            <label for="simbolo_moneda">Simbolo</label>
                            <input v-model="form.simbolo_moneda" name="simbolo_moneda" id="simbolo_moneda" type="text"
                            title="Cantidad de días para pagar un ticket"
                            placeholder=""
                            class="form-control" :class="{ 'is-invalid': form.errors.has('simbolo_moneda') }">
                            <has-error :form="form" field="simbolo_moneda"></has-error>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="unidad_moneda">Unidad</label>
                            <input v-model="form.unidad_moneda" name="unidad_moneda" id="unidad_moneda" type="text"
                            title="Cantidad de días para pagar un ticket"
                            placeholder=""
                            class="form-control" :class="{ 'is-invalid': form.errors.has('unidad_moneda') }">
                            <has-error :form="form" field="unidad_moneda"></has-error>
                        </div>                        
                    </div>-->
                    <hr>
                    <div class="row">
                    <div class="col-md-4">
                        <p class="font-weight-bold">Emails</p>
                    </div>
                     <div class="form-group col-md-8">
                        <label for="email_for">Email For</label>
                        <input id="email_for" v-model="form.email_for" name="email_for" type="text"
                            pattern="^[^@]+@[^@]+\.[a-zA-Z]{2,}$"
                            title="Email Para"
                            placeholder=""
                            class="form-control" :class="{ 'is-invalid': form.errors.has('email_for') }">
                        <has-error :form="form" field="email_for"></has-error>
                    </div>
                    <div class="col-md-4"></div>
                     <div class="form-group col-md-8">
                         <label for="email_bcc">Email Bcc</label>
                        <input v-model="form.email_bcc" name="email_bcc" id="email_bcc" type="text"
                        pattern="^[^@]+@[^@]+\.[a-zA-Z]{2,}$"
                        title="Email Bcc"
                        placeholder=""
                        class="form-control" :class="{ 'is-invalid': form.errors.has('email_bcc') }">
                        <has-error :form="form" field="email_bcc"></has-error>
                    </div>
                    <div class="col-md-4"></div>
                    <!--div class="form-group col-md-8">
                        <label for="apuesta_multiplo">Múltiplo por Apuesta</label>
                        <input name="apuesta_multiplo" v-model="form.apuesta_multiplo" id="apuesta_multiplo" class="form-control" type="number" step="10"
                                title="Múltiplo de Apuesta"
                               :class="{ 'is-invalid': form.errors.has('apuesta_multiplo') }">
                        <has-error :form="form" field="apuesta_multiplo"></has-error>
                    </div>-->
                    </div>
                <hr>
                <div class="float-right">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>

                </form>


              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>

        <div v-if="!$gate.isAdminOrAuthor()">
            <not-found></not-found>
        </div>
    </div>



</template>

<script>
    export default {
        data() {
            return {
                editmode: false,
                configuracion : [],
                form: new Form({
                    id: 0,
                    email_for: '',
                    email_bcc:'',
                    created_at:'',
                    updated_at:''
                })
            }
        },
        methods: {
            updateConfiguracion(){
                this.$Progress.start();
                this.form.put('/api/configuraciones/'+this.form.id)
                .then(() => {
                    // success
                     swal(
                        'Actualizado!',
                        'Configuración Actualizada!.',
                        'success'
                        )
                        this.$Progress.finish();
                         Fire.$emit('AfterCreate');
                })
                .catch(() => {
                    this.$Progress.fail();
                });

            },
            editModal(configuracion){
                this.editmode = true;
                this.form.reset();
                this.form.clear();
                $('#addNew').modal('show');
                this.form.fill(configuracion);                
            },
            newModal(){
                this.editmode = false;
                this.form.reset();
                this.form.clear();
                $('#addNew').modal('show');
            },
            deleteLoteria(id){
                swal({
                    title: 'Esta Seguro de Eliminar?',
                    text: "No podra revertir los cambios!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Si, Eliminar Loteria!',
                    cancelButtonText: 'Cancelar',
                    }).then((result) => {

                        // Send request to the server
                         if (result.value) {
                                this.form.delete('api/configuraciones/'+id).then(()=>{
                                        swal(
                                        'Eliminado!',
                                        'Lotería Eliminada.',
                                        'success'
                                        )
                                    Fire.$emit('AfterCreate');
                                }).catch(()=> {
                                    swal("Error!", "Verifique los datos.", "warning");
                                });
                         }
                    })
            },
            loadConfiguracion:  async function(){
                if(this.$gate.isAdmin()){
                    await axios.get("/api/configuraciones").then(({ data }) => {

                        this.form.fill(data[0]);
                        //this.form.email_for=data[0].email_for;
                        //this.form.email_bcc=data[0].email_bcc;
                        console.log(this.form);
                    });
                   // this.form.fill(this.configuracion[0]);      this.form.fill(data[0])          
                }
            },///////////////////////////////////////////////
            createLoteria(){
                this.$Progress.start();
                this.form.post('/api/configuraciones')
                .then(()=>{
                    Fire.$emit('AfterCreate');
                    $('#addNew').modal('hide')

                    toast({
                        type: 'success',
                        title: 'Loteria Creada!'
                        })
                    this.$Progress.finish();
                })
                .catch(()=>{
                     swal("Error! ", "Hubo un error en el ingreso de datos: verifique la información nuevamente.", "error");
                })
            }
        },
        created() {
            Fire.$on('searching',() => {
                let query = this.$parent.search;
                axios.get('api/configuraciones/' + query)
                .then((data) => {
                    this.loterias = data.data
                })
                .catch(() => {

                })
            })
           this.loadConfiguracion();
           Fire.$on('AfterCreate',() => {
               this.loadConfiguracion();
           });
        //    setInterval(() => this.loadConfiguracion(), 3000);
        }

    }
</script>
<
<style>
.box {
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
