<template>
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Listado Equipos</h3>

            <div class="card-tools">
              <button  class="btn btn-success" @click="nuevoEquipo">
                Nuevo Equipo
                <i class="fas fa-plus-circle fa-fw"></i>
              </button>
              <!--<a class="btn btn-success" href="#">  /exportar/mensajes 
                Exportar a Excel
                <i class="fas fa-file-excel fa-fw"></i>
              </a>-->
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <table class="table table-hover">
              <tbody>
                <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Estatus</th>
                  <th>Acciones</th>
                </tr>

                <tr v-for="equipo in equipos.data" :key="equipo.id">
                  <td>{{equipo.id}}</td>
                  <td>{{equipo.nombre}}</td>                
                  <td><span :class="{'badge badge-danger':parseInt(equipo.activo) === -1, 'badge badge-success':parseInt(equipo.activo) === 1, 'badge badge-warning':parseInt(equipo.activo) === 0 }">{{equipo.activo | cobestatus}}</span></td>
                  <td>
                    <a
                      title="Editar equipo"
                      href="#"
                      v-if="$gate.isAdmin()"
                      class="btn btn-light"
                      
                      @click="editModal(equipo)"
                    >
                      <i class="fa fa-edit"></i>
                    </a>
                    <a
                      v-if="$gate.isAdmin()"
                      :class="{'disabled':equipo.activo == -1 || equipo.activo == 0}"
                      href="#"
                      title="Anular equipo"
                      class="btn btn-danger"
                      @click="deleteEquipo(equipo.id)"
                    >
                      <i class="fas fa-trash"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body-->
          <div class="card-footer">
            <pagination :data="equipos" v-on:pagination-change-page="getResults"></pagination>
          </div>
        </div>
        <!-- /.card -->
      </div>
    </div>
    
    <!-- Modal Nuevo Lote-->
    <div
      class="modal fade"
      id="viewNewLote"
      tabindex="-1"
      role="dialog"
      aria-labelledby="viewNewLoteLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" v-show="!editmode" id="viewNewLoteLabel">Nuevo Equipo</h5>
            <h5 class="modal-title" v-show="editmode" id="viewNewLoteLabel">Editar Equipo</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form @submit.prevent="editmode ? updateEquipo() : createEquipo()">
            <div class="modal-body">
              <div class="container">
                <div class="row">              
                   
                      <div class="form-group col-md-12">
                        <label for="nombre">Nombre Equipo</label>
                        <input
                          v-model="form.nombre"
                          type="text"
                          name="nombre"
                          placeholder="Ej. Mi Equipo"
                          class="form-control"
                          :class="{ 'is-invalid': form.errors.has('nombre') }"
                        >
                        <has-error :form="form" field="nombre"></has-error>
                      </div>                
                </div>
                    <div class="row">
                      <div class="form-group col-md-12">
                        <label for="activo">Seleccione el Estatus</label>
                        <select
                          name="activo"
                          v-model="form.activo"
                          id="activo"
                          class="form-control"
                          :class="{ 'is-invalid': form.errors.has('activo') }"
                          :disabled="!$gate.isAdmin()"
                        >
                          <option value="1">Activo</option>
                          <option selected value="0">Inactivo</option>                          
                        </select>
                        <has-error :form="form" field="activo"></has-error>
                      </div>
                      </div>                
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                <button v-show="editmode" type="submit" class="btn btn-success">Actualizar</button>
                <button v-show="!editmode" type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>    
        </div>
      </div>
    </div><!-- end modal -->    
  </div>
</template>
<script>
export default {
  data() {
    return {
      editmode: false,   
      equipos: {},
      nombreRemise: '',
      form: new Form({
            id:0,
            nombre:'',
            activo:1,            
      })
    };
  },
  methods: {
    getResults(page = 1) {
      axios.get("/api/equipos?page=" + page).then(response => {
        this.equipos = response.data;
      });
    },
    esAdminAutor(){
      return typeof this.$gate.isAdminOrAuthor() === 'undefined';
    },
    nuevoEquipo(){
      this.editmode = false;
      this.form.reset();
      $("#viewNewLote").modal("show");
    },
    updateEquipo() {
      this.$Progress.start();
      this.form
        .put("/api/equipo/" + this.form.id)
        .then(() => {
          // success
          $("#viewNewLote").modal("hide");
          swal("Actualizado!", "Actualizado Correctamente!.", "success");
          this.$Progress.finish();
          Fire.$emit("AfterCreate");
        })
        .catch(() => {
          this.$Progress.fail();
              swal("Error!", "Por favor verifique los datos", "warning");        
        });
    },
    editModal(equipo) {
      this.editmode = true;
      this.form.reset();
      $("#viewNewLote").modal("show");
      this.form.fill(equipo);
    },
    newModal() {
      this.editmode = false;
      this.form.reset();
      $("#addNew").modal("show");
    },
    getAbsolutePath() {
      var loc = window.location;
      var pathName = loc.pathname.substring(
        0,
        loc.pathname.lastIndexOf("/") + 1
      );
      return loc.origin;
    },
    deleteEquipo(id) {
      swal({
        title: "Esta Seguro de Eliminar?",
        text: "No podra revertir los cambios!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Si, Eliminar Poliza!"
      }).then(result => {
        // Send request to the server
        if (result.value) {
          this.form
            .delete("/api/equipo/" + id)
            .then(() => {
              swal("Anulado!", "Equipo Eliminado.", "success");
              Fire.$emit("AfterCreate");
            })
            .catch(() => {
              swal("Error!", "Ocurrio un error eliminando Equipo.", "warning");
            });
        }
      });
    },
    loadequipos() {     
      axios.get("/api/equipo").then(({ data }) => (this.equipos = data));
    },
    createEquipo() {
      this.$Progress.start();

      this.form
        .post("/api/equipo")
        .then(() => {
          Fire.$emit("AfterCreate");
          $("#viewNewLote").modal("hide");

          toast({
            type: "success",
            title: "Lote: Agregado!"
          });

          this.$Progress.finish();
        })
        .catch(e => {
          swal("Error!","Por favor verifique los datos nuevamente", "warning");
        });
    }
  },
  created() {
    Fire.$on("searching", () => {
      let query = this.$parent.search;
      axios.get("api/equipo?q=" + query)
        .then(data => {
          this.equipos = data.data;
        })
        .catch(() => {});
    });

    this.loadequipos();
    Fire.$on("AfterCreate", () => {
      this.loadequipos();
    });
    //    setInterval(() => this.loadequipos(), 3000);
  },
  mounted() {
    //axios.get("/api/beneficiarios").then(({ data }) => (this.remisses = data));
     //console.log(typeof this.$gate.isAdminOrAuthor() === 'undefined')
    //axios.get("/api/agencia").then(({ data }) => this.agencias = data.data);
    //axios.get("/api/venezuela/estados").then(({ data }) => this.estados = data);
  }
};
</script>
<style>
.modal-dialog {
  width: 415px;
  margin: 30px auto;
}
hr {
  /*border-top: 1px;*/
  margin-top: 0.5rem;
  margin-bottom: 0.8rem;
}


td,
th,
tr,
table {
    border-top: 1px solid black;
    border-collapse: collapse;
}

td.producto,
th.producto {
    width: 190px;
    max-width: 190px;
}

td.cantidad,
th.cantidad {
    width: 160px;
    max-width: 160px;
    word-break: break-all;
}

td.precio,
th.precio {
    width: 160px;
    max-width: 160px;
    word-break: break-all;
}

.centrado {
    text-align: center;
    align-content: center;
}

.ticket {
    font-size: 16px;
    font-family: 'Times New Roman';
    width: 355px;
    max-width: 355px;
}

img {
    max-width: inherit;
    width: inherit;
}

@media print {
    .oculto-impresion,
    .oculto-impresion * {
        display: none !important;
    }
}
</style>