<template>
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Listado personas</h3>

            <div class="card-tools">
              <button  class="btn btn-success" @click="newModal">
                Agregar Persona
                <i class="fas fa-plus-circle fa-fw"></i>
              </button>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <table class="table table-hover">
              <tbody>
                <tr>
                  <th>Cedula</th>
                  <th>Nombres Y apellidos</th>
                  <th>Email</th>
                  <th>Estatus</th>
                  <th>Creado el</th>
                  <th>Acciones</th>
                </tr>

                <tr v-for="persona in personas.data" :key="persona.id">
                  <td>{{persona.persona.cedula}}</td>
                  <td>{{persona.persona.nombre}} {{persona.persona.apellido}}</td>
                  <td>{{persona.persona.email}}</td>                  
                                
                  <td><span :class="{'badge badge-danger':parseInt(persona.persona.estado) === -1 || parseInt(persona.persona.estado) === -2, 'badge badge-success':parseInt(persona.persona.estado) === 1, 'badge badge-warning':parseInt(persona.persona.estado) === 0 }">{{persona.persona.estado | cobestatus}}</span></td>
                  <td>{{persona.persona.created_at | myDate}}</td>
                  <td>
                    <a v-if="$gate.isAdminOrAuthor()"  title="Generar Perfil" class="btn btn-light"                         
                        href="#"
                        @click="addPerfil(persona)"
                        :class="{'disabled':(persona.persona.estatus == -1 || persona.persona.estatus == 0) && !$gate.isAdmin()}">
                          <i class="fas fa-certificate"></i>
                    </a>
                    <a
                      title="Editar Persona"
                      href="#"
                      v-if="$gate.isAdminOrAuthor()"
                      class="btn btn-light"
                      :class="{'disabled':persona.persona.estatus == -1 }"
                      @click="editModal(persona.persona)"
                    >
                      <i class="fa fa-edit"></i>
                    </a>
                    <a
                      v-if="$gate.isAdminOrAuthor() && persona.persona.idequipo && persona.persona.idprofesion"
                      :class="{'disabled':persona.persona.estatus == -1 || persona.persona.estatus == 0 || persona.persona.estatus == -2 }"
                      target="_blank"
                      :href="'/carnet/pdf/'+persona.persona.id"
                      title="Ver Carnet"
                      class="btn btn-light"
                    >
                      <i class="fas fa-address-card"></i>
                    </a>
                    <a
                      v-if="$gate.isAdmin()"
                      :class="{'disabled':persona.persona.activo == -1 || persona.persona.activo == 0}"
                      href="#"
                      title="Eliminar"
                      class="btn btn-danger"
                      @click="deletePersona(persona.persona.id)"
                    >
                      <i class="fas fa-trash"></i>
                    </a>                    
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body-->
          <div class="card-footer">
            <pagination :data="personas" v-on:pagination-change-page="getResults"></pagination>
          </div>
        </div>
        <!-- /.card -->
      </div>
    </div>
    <!-- Modal -->
    <div
      class="modal fade"
      id="addNew"
      tabindex="-1"
      role="dialog"
      aria-labelledby="addNewLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" v-show="!editmode" id="addNewLabel">Agregar Persona</h5>
            <h5 class="modal-title" v-show="editmode" id="addNewLabel">Actualizar Persona</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form @submit.prevent="editmode ? updatePersona() : createPersona()">
                <div class="modal-body">                   
                    <div class="row">
                      <!--pattern="^([VJEGP])\d{6,11}$"-->
                        <div class="form-group col-sm-4">
                            <label for="cedula">*Cédula</label>
                            <input v-model="form.cedula" type="text" name="cedula"
                                placeholder="V12345678 / E123456789"                                
                                class="form-control" :class="{ 'is-invalid': form.errors.has('cedula') }">
                            <has-error :form="form" field="cedula"></has-error>
                        </div>                                            
                        <div class="form-group col-sm-4">
                            <label for="nombre">*Nombres</label>
                            <input v-model="form.nombre" type="text" name="nombre"
                                placeholder="Pedro"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('nombre') }">
                            <has-error :form="form" field="nombre"></has-error>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="apellido">*Apellidos</label>
                            <input v-model="form.apellido" type="text" name="apellido"
                                placeholder="Perez"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('apellido') }">
                            <has-error :form="form" field="apellido"></has-error>
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label for="email">*Email</label>
                            <input v-model="form.email" type="text" name="email"
                                placeholder="email@email.com"
                                pattern="^[^@]+@[^@]+\.[a-zA-Z]{2,}$"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                            <has-error :form="form" field="email"></has-error>
                        </div>                                            
                        <div class="form-group col-sm-4">
                            <label for="telefono">*Teléfono</label>
                            <input v-model="form.telefono" type="text" name="telefono"
                                placeholder="0000-0000000"
                                pattern="^\d{4}-\d{7,10}$"
                                class="form-control" :class="{ 'is-invalid': form.errors.has('telefono') }">
                            <has-error :form="form" field="telefono"></has-error>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="estado">Estatus</label>
                            <select name="estado" v-model="form.estado" id="estado" class="form-control" :class="{ 'is-invalid': form.errors.has('estado') }">
                                <option value="">Seleccione el estado</option>
                                <option value="1">Activo</option>                
                                <option value="0">Inactivo</option>                            
                            </select>
                            <has-error :form="form" field="estado"></has-error>
                        </div>                        
                    </div>                    
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="sexo">*Sexo</label>
                            <select name="sexo" v-model="form.idsexo" id="sexo" class="form-control" :class="{ 'is-invalid': form.errors.has('sexo') }">
                                <option value="">Seleccione el sexo</option>
                                <option value="1">Masculino</option>                
                                <option value="0">Femenino</option>                            
                            </select>
                            <has-error :form="form" field="estado"></has-error>                          
                        </div>
                        <div class="form-group col-md-4">
                            <label for="idnacionalidad">*Nacionalidad</label>
                            <select name="idnacionalidad" v-model="form.idnacionalidad" id="idnacionalidad" class="form-control" :class="{ 'is-invalid': form.errors.has('idnacionalidad') }">
                            <option value="">Seleccione Nacionalidad</option>
                            <option v-for="item in nacionalidades" :value="item.code"  v-bind:key="item.code">
                                {{item.label}}
                            </option>                           
                            </select>
                            <has-error :form="form" field="idnacionalidad"></has-error>
                        </div>
                        <div class="form-group col-md-4">
                          <div class="form-group" >
                              <div class="col-sm-12" >
                                <label for="idequipo">Foto: (Max. 2Mb)</label>
                                  <input type="file" name="photo" v-on:change="onImageChange" class="form-control">
                              </div>
                          </div>
                        </div>                                           
                    </div>
                    <div class="row">
                      <div class="col-md-12 text-center">
                          <div v-if="editmode" class="widget-user-image">
                            <img id="foto" height="150"  width="150" class="img-circle" :src="'/img/profile/'+form.foto" alt="User Avatar">
                          </div>
                      </div>
                    </div>
                    Campos obligatorios (*)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    <button v-show="editmode" type="submit" class="btn btn-success">Actualizar</button>
                    <button v-show="!editmode" type="submit" class="btn btn-primary">Guardar</button>
                </div>
          </form>
        </div>
      </div>
    </div><!-- end modal -->


    <!-- Modal Curso-->
    <div
      class="modal fade"
      id="addNewCurso"
      tabindex="-1"
      role="dialog"
      aria-labelledby="addNewCurso"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" v-show="!editmode" id="addNewCurso">Agregar Perfil</h5>
            <h5 class="modal-title" v-show="editmode" id="addNewCurso">Actualizar Perfil</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form @submit.prevent="editmodePerfil ? updatePerfil() : createPerfil()">
                <div class="modal-body">
                  <div class="row">
                      <div class="form-group col-md-12">
                          <label for="curso">Persona Seleccionada: <h3>{{ personaSeleccionada }}</h3></label>
                      </div>                     
                  </div>                  
                  <label>Datos del Perfil</label>                   
                  <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="idprofesion">Profesión:</label>
                            <select name="idprofesion" v-model="formAcceso.idprofesion" id="idprofesion" class="form-control" :class="{ 'is-invalid': form.errors.has('idprofesion') }">
                            <option value="">Seleccione Profesión</option>
                            <option v-for="item in profesiones" :value="item.code"  v-bind:key="item.code">
                                {{item.label}}
                            </option>                           
                            </select>                            
                            <has-error :form="form" field="idprofesion"></has-error>
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="idequipo">Equipo:</label>
                            <select name="idequipo" v-model="formAcceso.idequipo" id="idequipo" class="form-control" :class="{ 'is-invalid': form.errors.has('idequipo') }">
                            <option value="">Seleccione Equipo</option>
                            <option v-for="item in equipos" :value="item.code"  v-bind:key="item.code">
                                {{item.label}}
                            </option>                           
                            </select>                             
                            <has-error :form="form" field="idequipo"></has-error>
                        </div>                                              
                    </div>
                    <hr>
                    <label>Lugar de Acceso</label>
                    <div class="row">
                      <div class="form-group col-sm-12">
                        <div class="card-body table-responsive p-0">
                              <table class="table table-hover ">
                              <tbody>
                                  <tr>
                                      <th>Nombre</th>
                                      <th>Acciones</th>
                                  </tr>
                                      <!---->
                                  <tr v-for="areaAcceso in areaAccesos" :key="areaAcceso.code" >
                                      <td>
                                          <label class="switch">
                                              <input type="checkbox" :value="areaAcceso.code" v-model="areaAcceso.check" >
                                              <span class="slider round"></span>
                                          </label> {{areaAcceso.label}}
                                      </td>
                                      <td>
                                        <span :class="{'badge badge-danger':!areaAcceso.check, 'badge badge-success':areaAcceso.check }">
                                          <label v-show="areaAcceso.check">Acceso Permitido</label>
                                          <label v-show="!areaAcceso.check">Acceso NO Permitido</label>
                                          </span>
                                      </td>
                                  </tr>
                              </tbody></table>
                          </div>        
                      </div>                       
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    <button v-show="editmodePerfil" type="submit" class="btn btn-success">Actualizar</button>
                    <button v-show="!editmodePerfil" type="submit" class="btn btn-primary">Guardar</button>
                </div>
          </form>
        </div>
      </div>
    </div><!-- end modal Curso-->



  </div>
</template>
<script>
export default {
  data() {
    return {
      editmode: false,
      editmodeCurso: false,
      editmodePerfil: false,
      profesiones: [],
      nacionalidades: [],
      areaAccesos:{},
      packParaAsignar: null,
      equipos:[],
      personas: {},
      foto:'' ,
      personaSeleccionada: '',
      form: new Form({
         id:0,
            cedula: '',
            nombre:'',
            apellido:'',            
            email:'',
            telefono:'',           
            idequipo: '',
            idsexo: '',
            idprofesion: '',
            idnacionalidad: 1,   
            estado:1,
            photo:'',
            foto:''              
      }),
      formAcceso: new Form({
         areaAcceso: {},
         idprofesion: '',
         idequipo:'',
         idpersona:''
      }),
      formCert: new Form({
         id:0,
         descripcion:'',
         estatus: 1
      })             
    };
  },
  methods: {
    getResults(page = 1) {
      axios.get("/api/personas?page=" + page).then(response => {
        this.personas = response.data;
      });
    },
    onImageChange(e) {
      let files = e.target.files || e.dataTransfer.files;
      if (!files.length)
        return;

      this.createImage(files[0]);
      this.leerImagen(e.target);
    },
    leerImagen(input){
      if (input.files && input.files[0]) {
        var reader = new FileReader();
         reader.onload = (e) => {
            //$('#foto').attr('src', e.target.result); // Renderizamos la imagen
            this.foto = e.target.result;
          };
          reader.readAsDataURL(input.files[0]);
          
          this.form.photo = this.foto;
      }
    },
    validarAreaAcceso(areaAcceso){

    },
    createImage(file) {
      let reader = new FileReader();
      let vm = this;
      reader.onload = (e) => {
        vm.form.photo = e.target.result;
      };
      reader.readAsDataURL(file);
    },////////////////////////////////////////////////////////+foto
    getProfilePhoto(foto){
      //console.log(foto);       
        return (foto) ? "/img/srxWqV432456765.jpg" : "/img/no-imagen.jpg";
    },    
    esAdminAutor(){
      return typeof this.$gate.isAdminOrAuthor() === 'undefined';
    },
    addPerfil(persona){     
      this.editmodePerfil = false;        
      this.formAcceso.clear();
      this.formAcceso.reset();
      this.personaSeleccionada = persona.persona.nombre+" "+persona.persona.apellido;
      this.formAcceso.idpersona = persona.persona.id;
      if(persona.persona.idequipo && persona.persona.idprofesion){
        this.formAcceso.idprofesion = persona.persona.idprofesion;
        this.formAcceso.idequipo = persona.persona.idequipo;
        
        for (let index = 0; index < persona.accesos.length; index++) {                  
          for (let iaa = 0; iaa < this.areaAccesos.length; iaa++) { 
            if(this.areaAccesos[iaa].code == persona.accesos[index].idarea){
               this.areaAccesos[iaa].check = true;
            } 
          }         
        }
        this.editmodePerfil = true;
      }
      $("#addNewCurso").modal("show");
      //'/certificados/'+paquete.id+'/'+paquete.curso_id
      /*axios.get("/api/generar/certificado/"+paquete.id+"/"+paquete.curso_id)
        .then(data => {
          paquete.certificado_id = data.data.success;
              console.log(paquete)
              swal("Generado!", "Certificado Guardado.", "success");          
        })
        .catch(() => {
           swal("Error!", "Ocurrio un error Generando el certificado.", "warning");
        });    */
    },    
    getAccesoArea:  async function(idPersona){ 
      await axios.get("/api/persona/areas/" + idPersona).then(response => {    
        this.buscarAccesos(response.data[0]);
      });

      return data;
    },
    updatePersona(){
      this.$Progress.start();        
        this.form
        .put("/api/personas/" + this.form.id)
        .then(() => {
          // success
          $("#addNew").modal("hide");
          swal("Actualizado!", "Actualizado Correctamente!.", "success");
          this.$Progress.finish();
          Fire.$emit("AfterCreate");
        })
        .catch(() => {
          this.$Progress.fail();
          if(this.form.estatus == 1){
            swal("Error!", "No se puede editar el Curso","error");
          }else{
              swal("Error!", "Por favor verifique los datos", "warning");
          }
        });
    },
    editModal(persona) {
      
      this.editmode = true;
      this.form.reset();
      $("#addNew").modal("show");
      this.form.fill(persona);
      
      console.log(this.form);
      //this.form.photo = persona.foto;     
    },
    buscarIdCurso(cursoId){      
      try {
        let selectEquipos = this.equipos.filter(curso => curso.code === cursoId);        
        return selectEquipos[0].label;
      }
      catch(error) { return "---";}
    },
    newModal(){     
        this.editmode = false;        
        this.form.clear();
        this.form.reset();
        $("#addNew").modal("show");
    },
    getBool(num) {
      return num == 1 ? true : false;
    },
    getAbsolutePath() {
      var loc = window.location;
      var pathName = loc.pathname.substring(
        0,
        loc.pathname.lastIndexOf("/") + 1
      );
      return loc.origin;
    },
    deletePersona(id) {     
      swal({
        title: "Esta Seguro de Eliminar?",
        text: "No podra revertir los cambios!",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Si, Eliminar esta Persona!"
      }).then(result => {
        // Send request to the server
        if (result.value) {
          this.form
            .delete("/api/personas/" + id)
            .then(() => {
              swal("Eliminado!", "Persona Eliminada.", "success");
              Fire.$emit("AfterCreate");
            })
            .catch(() => {
              swal("Error!", "Ocurrio un error Eliminada Persona.", "warning");
            });
        }
      });
    },
    loadPersonas:  async function(){
      await axios.get("/api/select/areas").then(({ data }) => (this.areaAccesos = data));      
      await axios.get("/api/select/equipos").then(({ data }) => (this.equipos = data));
      await axios.get("/api/select/profesion").then(({ data }) => (this.profesiones = data));
      await axios.get("/api/select/nacionalidad").then(({ data }) => (this.nacionalidades = data));
      axios.get("/api/personas").then(({ data }) => (this.personas = data));            
    },
    pasarSoloCheck(areaAccesos){
      const copy = [];
      areaAccesos.forEach(function(item){
        if(item.check)
          copy.push(item)
      });

      return copy;
    },
    updatePerfil(){
        this.formAcceso.areaAcceso = this.pasarSoloCheck(this.areaAccesos);
        console.log(this.formAcceso.areaAcceso);
        this.$Progress.start();        
        this.formAcceso
        .put("/api/accesos/" + this.formAcceso.idpersona)
        .then(() => {
          // success
          $("#addNewCurso").modal("hide");
          swal("Actualizado!", "Actualizado Correctamente!.", "success");
          this.$Progress.finish();
          Fire.$emit("AfterCreate");
        })
        .catch(() => {
          this.$Progress.fail();
          swal("Error!", "No se puede editar el Perfil","error");
        });
    },
    createPerfil() { 
    
      this.formAcceso.areaAcceso = this.areaAccesos;
      this.$Progress.start();
      this.formAcceso
        .post("/api/accesos")
        .then(() => {
          Fire.$emit("AfterCreate");
          $("#addNewCurso").modal("hide");

          toast({
            type: "success",
            title: "Perfil: Agregado!"
          });

          this.$Progress.finish();
        })
        .catch(e => {
          swal("Error!","Por favor verifique los datos nuevamente", "warning");
        });
    },   
    createPersona() {

      this.$Progress.start();
      this.form
        .post("/api/personas")
        .then(() => {          
          Fire.$emit("AfterCreate");
          $("#addNew").modal("hide");

          toast({
            type: "success",
            title: "Persona: Agregada(o)!"
          });

          this.$Progress.finish();
        })
        .catch(e => {
          swal("Error!","Por favor verifique los datos nuevamente", "warning");
        });
      }
    
  },
  created() {
    Fire.$on("searching", () => {
      let query = this.$parent.search;
      axios.get("api/personas?q=" + query)
        .then(data => {
          this.personas = data.data;
        })
        .catch(() => {});
    });

    this.loadPersonas();
      Fire.$on("AfterCreate", () => {
      this.loadPersonas();
    });
    //    setInterval(() => this.loadMensajes(), 3000);
  },
  mounted() {
    //axios.get("/api/beneficiarios").then(({ data }) => (this.remisses = data));
     //console.log(typeof this.$gate.isAdminOrAuthor() === 'undefined')
    //axios.get("/api/agencia").then(({ data }) => this.agencias = data.data);
    //axios.get("/api/venezuela/estados").then(({ data }) => this.estados = data);
  }
};
</script>
<style>
.modal-dialog {
  width: 1024px;
  margin: 30px auto;
}
hr {
  /*border-top: 1px;*/
  margin-top: 0.5rem;
  margin-bottom: 0.8rem;
}


td,
th,
tr,
table {
    border-top: 1px solid black;
    border-collapse: collapse;
}

td.producto,
th.producto {
    width: 190px;
    max-width: 190px;
}

td.cantidad,
th.cantidad {
    width: 160px;
    max-width: 160px;
    word-break: break-all;
}

td.precio,
th.precio {
    width: 160px;
    max-width: 160px;
    word-break: break-all;
}

.centrado {
    text-align: center;
    align-content: center;
}

.ticket {
    font-size: 16px;
    font-family: 'Times New Roman';
    width: 355px;
    max-width: 355px;
}

img {
    max-width: inherit;
    width: inherit;
}

@media print {
    .oculto-impresion,
    .oculto-impresion * {
        display: none !important;
    }
}
</style>